function Main.main 5
push constant 10
push constant 20
push constant 60
call Square.new 3
pop local 0
push local 0
call Square.draw 1
pop temp 0
push local 0
call Square.getRow 1
call Output.printInt 1
pop temp 0
push local 0
call Square.getColumn 1
call Output.printInt 1
pop temp 0
push constant 20
push constant 30
push constant 62
call Square.new 3
pop local 1
push local 1
call Square.draw 1
pop temp 0
push local 1
call Square.getRow 1
call Output.printInt 1
pop temp 0
push local 1
call Square.getColumn 1
call Output.printInt 1
pop temp 0
push local 0
call Square.getRow 1
call Output.printInt 1
pop temp 0
push local 0
call Square.getColumn 1
call Output.printInt 1
pop temp 0
call Square.getNumOfSquares 0
call Output.printInt 1
pop temp 0
push constant 40
push constant 50
push constant 60
call Square.new 3
pop local 2
call Square.getNumOfSquares 0
call Output.printInt 1
pop temp 0
push constant 0
return
